body {
    background: #5A564A;
    margin: 0;
    background-attachment:fixed;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 6px solid #E7B00C;
    font-size: 110%;
    font-weight: 900;
    background-color:black;
    color:whitesmoke;
    margin-bottom: 20px;    
}

#anim_Change {
    position: absolute;
    top: 30px;
    left: 30px;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#page {
    min-height: 1320px;
    border: 5px solid;
    width: 80%;
    position: relative;
    background-color: rgb(104, 101, 93);
    opacity: 0.5;
    margin: 30px 0;
    padding: 30px 0;
    
    left: 9%;
    z-index: 2;

    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
}

