* {
    margin: 0;
    padding: 0;
}
table {
    border-spacing: 0;
    margin: 20px;
    border: 3px solid black;
}
td {
    width: 30px;
    height: 30px;
    border: 1px solid black;

    font-weight: 700;
    font-size: 24px;
    text-align: center;
}
td.block {
    background-color: lightcoral;
}

#controllers {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 20px;
}
#controllers .btn {
    padding: 7px 10px;
    font-size: 21px;
    margin: 10px 20px;
}